:root {
    --pixel-size: 2px;
    font-size: 7px;
  }
  @media( min-width: 700px ) {
      :root {
        --pixel-size: 3px;
        font-size: 10px
      }
  }
  @media( min-width: 1000px ) {
      :root {
        --pixel-size: 4px;
        font-size: 13px;
      }
  }
  @media( min-width: 1000px ) {
      :root {
        --pixel-size: 5px;
        font-size: 16px;
      }
}

@font-face{
    font-family: '04B_03';
    src: url(assets/fonts/04B_03.woff) format('woff'),
         url(assets/fonts/04B_03.ttf) format('truetype');
}